<nav id="navmenu" class="navmenu">
	<ul>
	        {% if app.user %}

		<li class="dropdown">
			<a href="#">
				<span>مركز التدريب والتطوير</span>
				<i class="bi bi-chevron-down toggle-dropdown"></i>
			</a>
			<ul>
				<li><a href="{{ path('app_cours_document') }}">مقالات وأوراق بحثية</a></li>
				<li><a href="{{ path('app_cours_video') }}">دروس فيديو</a></li>
				<li><a href="{{ path('app_livre') }}">كتب إلكترونية</a></li>
				<li><a href="{{ path('app_topic_index') }}">منتدى تعليمي</a></li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a href="#">
				<span>إدارة الوثائق</span>
				<i class="bi bi-chevron-down toggle-dropdown"></i>
			</a>
			<ul>				
				{% if is_granted('ROLE_ADMIN') %}

					<li>
						<a href="{{path('admin') }}">
							admin تسجيل الدخول</a>
					</li>
				{% endif %}
				<li>
					<a href="{{path('app_document_new') }}">
						تحميل الوثائق</a>
				</li>
				<li class="dropdown">
					<a href="{{ path('app_document_index') }}">
						<span>
							إلطالع على الوثائق</span>
						<i class="bi bi-chevron-down toggle-dropdown"></i>
					</a>
					<ul>
						{% for category in get_categories() %}
							<li>
								<a href="{{ path('app_document_filter',{'category':category.id}) }}">{{ category.nom }}</a>
							</li>
						{% endfor %}

					</ul>
				</li>
				<li>
					<a href="#">البحث المتقدم</a>
				</li>
				<li>
					<a href="#">التعليقات والمالحظات</a>
				</li>
				<li>
					<a href="#">حذف</a>
				</li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a href="#">
				<span>إدارة الإجتماعات والعمل التعاوني</span>
				<i class="bi bi-chevron-down toggle-dropdown"></i>
			</a>
			<ul>
				<li><a href="{{ path('reunion_list', parameters = []) }}">نظام جدولة الإجتماعات </a></li>
				<li><a href="{{ path('reunion_renvoie', parameters = []) }}">إشعارات التذكير</a></li>
				<li><a href="#">مواعيد إنجاز المهام</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#">
				<span>قائمة المهام</span>
				<i class="bi bi-chevron-down toggle-dropdown"></i>
			</a>
			<ul>
				<li class="dropdown">
					<a href="#">
						<span>المهام الجديدة</span>
						<i class="bi bi-chevron-down toggle-dropdown"></i>
					</a>
					<ul>
						<li><a href="{{ path('app_tache_nouveau', parameters = []) }}">المهمة</a></li>
						<li><a href="{{ path('app_tache_employer', parameters = []) }}">الموظف أو الفريق</a></li>
						<li><a href="#">المسؤول عن المهمة</a></li>
						<li><a href="#">مواعيد إنجاز المهام</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#">
						<span>مهام قيد التنفيذ</span>
						<i class="bi bi-chevron-down toggle-dropdown"></i>
					</a>
					<ul>
						<li><a href="{{ path('app_tache_encour', parameters = []) }}">المهمة</a></li>
						<li><a href="#">المدة الزمنية</a></li>
						<li><a href="#">نسبة اإلنجاز</a></li>
						<li><a href="#">حالة المهمة</a></li>
						<li><a href="#">تعليقات وتفاعالت</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#">
						<span>مهام مكتملة</span>
						<i class="bi bi-chevron-down toggle-dropdown"></i>
					</a>
					<ul>
						<li><a href="{{ path('app_tache_terminer', parameters = []) }}">المهمة</a></li>
						<li><a href="{{ path('app_tache_eval', parameters = []) }}">تقييم جودة العمل</a></li>
						<li><a href="#">قياس أداء الموظفين</a></li>
					</ul>
				</li>
			</ul>
		</li>
		
        <li>
            <a href="{{ path('app_logout') }}" class="btn btn-danger">تسجيل الخروج</a> {# Lien de déconnexion #}
        </li>  {% endif %}
	</ul>
	<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
	      

</nav>
