{% extends 'base.html.twig' %}

{% block title %}Document
{% endblock %}

{% block body %}
	<section
		id="faq" class="faq section light-background">

		<!-- Section Title -->
		<div class="container section-title aos-init aos-animate" data-aos="fade-up">
			<h2>مقاالت وأوراق بحثية{# Frequently Asked Questions #}</h2>
			<p>{# Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit #}</p>
		</div>
		<!-- End Section Title -->
		<div class="container">

			<div class="row justify-content-center">

				<div class="col-lg-10 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

					<div class="faq-container">

						<table id="example" class="display" style="width:100%">
							<thead>
								<tr>
									<th>{{ 'ID'|trans }}</th>
									<th>{{ 'Nom'|trans }}</th>
									<th>{{ 'FileName'|trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for document in articles %}
									<tr>
										<td>{{ document.id }}</td>
										<td>{{ document.nom }}</td>
										<td>
											{% if document.fileName %}
												<a href="{{ asset('uploads/article/' ~ document.fileName) }}" target="_blank">{{ document.fileName }}</a>
											{% else %}
												Aucun fichier disponible
											{% endif %}
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="4">{{ 'no_records_found'|trans }}</td>
									</tr>
								{% endfor %}
							</tbody>

							<tfoot>
								<tr>
									<th>{{ 'ID'|trans }}</th>
									<th>{{ 'Nom'|trans }}</th>
									<th>{{ 'FileName'|trans }}</th>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
