{% extends 'base.html.twig' %}

{% block title %}Tache{% endblock %}

{% block body %}
    <h1>Tache</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'ID'|trans }}</th>
                <td>{{ tache.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Referance'|trans }}</th>
                <td>{{ tache.referance }}</td>
            </tr>
            <tr>
                <th>{{ 'Titre'|trans }}</th>
                <td>{{ tache.titre }}</td>
            </tr>
            <tr>
                <th>{{ 'Debut'|trans }}</th>
                <td>{{ tache.debut ? tache.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Estimation'|trans }}</th>
                <td>{{ tache.estimation }}</td>
            </tr>
            <tr>
                <th>{{ 'Pourcentage'|trans }}</th>
                <td>{{ tache.pourcentage }}</td>
            </tr>
            <tr>
                <th>{{ 'Etat'|trans }}</th>
                <td>{{ tache.etat }}</td>
            </tr>
            <tr>
                <th>{{ 'Evaluation'|trans }}</th>
                <td>{{ tache.eval }}</td>
            </tr>
            <tr>
                <th>{{ 'Datefin'|trans }}</th>
                <td>{{ tache.dateFin ? tache.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tache_index') }}">back to list</a>

    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>

    {{ include('tache/_delete_form.html.twig') }}
{% endblock %}
