{% extends 'base.html.twig' %}

{% block title %}Modifier le Sujet : {{ topic.title }}{% endblock %}

{% block body %}
    <h1>Modifier le Sujet : {{ topic.title }}</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}
    <a href="{{ path('app_topic_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}